
<div style="left: 300px; width:70%; position: absolute">
  <h1>My actions</h1>
  <br>
  <table id="my-actions-datatable"></table>
  <br><br><br>
  <div id="container-pricing">
  </div>
</div>
<script>

  function sethtmlmyaction() {

    let actions = " <thead>\n" +
            "    <tr>\n" +
            "      <th>id</th>\n" +
            "      <th>symbol</th>\n" +
            "      <th>prix d'achat</th>\n" +
            "      <th>Check</th>\n" +
            "\n" +
            "    </tr>\n" +
            "    </thead>";

    for (let i = 0;i<listStock.length;i++){
      actions+="<tr onclick='getPricing(\"" + listStock[i].symbol + "\",true,\""+listStock[i]._id+"\","+listStock[i].price+")'><td>"+listStock[i]._id+"</td>"+"<td>"+listStock[i].symbol+"</td>"+"<td>$"+listStock[i].price+"</td>"+
              "<td><button>Check</button></td></tr>"
    }
    document.getElementById("my-actions-datatable").innerHTML=actions;

    $("#my-actions-datatable").DataTable();
  }
  sethtmlmyaction();
</script>
{{yield}}