<style>
  #Linegraph {
    width: 70%; left:20%; height: 350px
  }
</style>

  <div id="Linegraph">
  </div>

<script>
  function setPortofolioGraph() {

    let evolutionSolde=[];
    let evolutionRevenu=[];
    let evolutionDepense=[];
    for (let i =0;i<evolutionPersonne.length;i++){
      evolutionSolde.push({X:i,Y:evolutionPersonne[i].solde});
      evolutionRevenu.push({X:i,Y:evolutionPersonne[i].revenu});
      evolutionDepense.push({X:i,Y:evolutionPersonne[i].depense});
    }
    let graphdata1 = {
      linecolor: "#0710cc",
      title: "Solde",
      values: evolutionSolde

    };
    let graphdata2 = {
      linecolor: "#cc53b6",
      title: "Revenu",
      values: evolutionRevenu
    };
    let graphdata3 = {
      linecolor: "#06ff40",
      title: "Dépense",
      values: evolutionDepense
    };


    $("#Linegraph").SimpleChart({
      ChartType: "Line",
      toolwidth: "50",
      toolheight: "25",
      axiscolor: "#E6E6E6",
      textcolor: "#6E6E6E",
      showlegends: false,
      data: [ graphdata3, graphdata2, graphdata1],
      legendsize: "140",
      legendposition: 'bottom',
      xaxislabel: 'iteration',
      title: 'Portofolio',
      yaxislabel: '$'
    });
  }
  setPortofolioGraph();

</script>

{{yield}}
